body {
	margin: 0 auto;
}

.brand {
	max-width: 50%;
}

.header {
	background-image: url('../img/post-image.jpg');
	background-size: cover;
	height: 700px;
	text-align: center;
	color: #fff;
}

.header p {
	font-size: 4rem;
	padding-top: 230px;
}

.news {
	padding-top: 50px;
}

.fas {
	font-size: 3rem;
	margin-top: 60px;
}

.far {
	border: solid 1px #dddddd;
	border-radius: 100%;
	padding: 8px;
	margin-right: 10px;
}

.icons {
	padding-left: 15%;
	padding-bottom: 15%;
}

.fa-heart {
	color: #FFFFFF;
	font-size: 2em;
	background-color: #6C6E70;
	border: solid 1px #6C6E70;
	border-radius: 100%;
	padding: 10px;
}

.fa-share-alt {
	color: #FFFFFF;
	font-size: 2em;
	background-color: #6C6E70;
	border: solid 1px #6C6E70;
	border-radius: 100%;
	padding: 10px;
}

.fa-comment {
	color: #FFFFFF;
	font-size: 2em;
}

.tw {
	width: 150px;
	height: 50px;
	color: #FFFFFF;
	background-color: #6C6E70;
	border: solid 1px #6C6E70;
	border-radius: 50px;
	padding: 15px;
	margin: 	
}

.fa-comment {
	padding: 10px;
	margin-top: 0;
}
